PROJECT_NAME=<your-project-name>
LOCAL_REPOS=<absolute-path-to-place-local-repos-directory>
GH_OWNER=<your-github-username>

# ==========================
# Azure
# ==========================
TENANT_ID=<your-tenant-id>
SUBSCRIPTION_ID=<your-subscription-id>

# ==========================
# Terraform Backend Configuration
# for bootstrapping Terraform state management
# ==========================
TFSTATE_RG_NAME=<name-for-tfstate-resource-group>
LOCATION=northeurope
TFSTATE_STORAGE_ACCOUNT_NAME=<globally-unique-name-for-tfstate-storage-account>
TFSTATE_CONTAINER_NAME=tfstate
# state keys for different layers
TFSTATE_KEY="bootstrap/terraform.tfstate"
PLATFORM_TFSTATE_KEY="live/terraform.tfstate"
DATABRICKS_TFSTATE_KEY="databricks/terraform.tfstate"
AZUREML_TFSTATE_KEY="azureml/terraform.tfstate"

# ==========================
# Terraform ML Workspace Configuration
# ==========================
RESOURCE_GROUP_NAME=<name-for-ml-resource-group>
ACR_NAME=<globally-unique-name-for-acr>
APPLICATION_INSIGHTS_NAME=<app-name-for-application-insights>
WORKSPACE_NAME=<name-for-azureml-workspace>

# globally unique:
STORAGE_ACCOUNT_NAME=<globally-unique-name-for-storage-account>
KEY_VAULT_NAME=<globally-unique-name-for-key-vault>

# ==========================
# Platform Layer
# ==========================
PLATFORM_RESOURCE_GROUP_NAME=<name-for-platform-resource-group>
PLATFORM_LOCATION=northeurope
# globally unique:
DATALAKE_NAME=<globally-unique-name-for-datalake>
SA_UAMI_NAME=<globally-unique-name-for-sa-uami>

# ==========================
# Databricks
# ==========================
DATASTACK_PREFIX=<globally-unique-name-for-databricks>

# ==========================
# Azure ML 
# ==========================
ENDPOINT_NAME=<globally-unique-name-for-azureml-endpoint>
