.env
.env.*
.env.azure
!.env.example
secrets/*
!secrets/.gitkeep

.docs
_bak
_docs
.screenshots
.troubleshoot
.ml-old

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore thesis files
*.odt
*.pdf